.sidebar{  
    max-height: 100vh;  
    background-color: lightgray;  
    
}
.sidebar .top{
   padding-left: 20px;
   padding-top: 5px;
}
.top .logo{
    font-weight: bolder;    
}
.sidebar-item{
    margin-top: 30px;
    font-size: 14px;   
    font-weight: 600;     
    height: 85%;    
}
.sidebar-item ul li{
    width: 200px;    
    justify-content: left;    
    margin-top: 20px;
    margin-right: 10px;
    padding: 5px 0;
    padding-left: 10px;
    cursor: pointer; 
    list-style-type: none;
}
.sidebar-item ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

